@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #e99a25 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #e99a25;
  border-color: #e99a25;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #b07012;
  border-color: #b07012;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b07012 !important;
  border-color: #b07012 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #99610f;
  color: #99610f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #e99a25;
  border-color: #e99a25;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e99a25 !important;
  border-color: #e99a25 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #e99a25 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #e99a25;
}
.btn-social:hover {
  background: #e99a25;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #e99a25;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #e99a25;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #e99a25;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #e99a25;
}
.lead a,
.lead a:hover {
  color: #e99a25;
}
.lead blockquote {
  border-color: #e99a25;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fcf0de;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #e99a25;
}
#header2-1 .mbr-section-title {
  text-align: center;
}
#header2-1 .mbr-section-text {
  text-align: center;
}
#menu-4 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4 .navbar-caption {
  color: #ffffff;
}
#menu-4 .navbar-toggler {
  color: #ffffff;
}
#menu-4 .link,
#menu-4 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-4 .link {
  font-size: 0.75rem;
}
#menu-4 .dropdown-item,
#menu-4 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-4 .link:hover,
#menu-4 .dropdown-item:hover,
#menu-4 .link:focus,
#menu-4 .dropdown-item:focus {
  color: #e99a25;
}
#menu-4 .link[aria-expanded="true"],
#menu-4 .dropdown-menu {
  background: #0e0e0e;
}
#menu-4 .nav-dropdown-sm .link:focus,
#menu-4 .nav-dropdown-sm .link:hover,
#menu-4 .nav-dropdown-sm .dropdown-item:focus,
#menu-4 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-4 .navbar,
#menu-4 .nav-dropdown-sm,
#menu-4 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-4 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4 .bg-color.transparent.opened .link:hover,
#menu-4 .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-4 .link[aria-expanded="true"],
#menu-4 .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4 .close-icon::before,
#menu-4 .close-icon::after {
  background-color: #ffffff;
}

#menu-b .hide-buttons .nav-btn {
  display: none !important;
}
#menu-b .navbar-caption {
  color: #ffffff;
}
#menu-b .navbar-toggler {
  color: #ffffff;
}
#menu-b .link,
#menu-b .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-b .link {
  font-size: 0.75rem;
}
#menu-b .dropdown-item,
#menu-b .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-b .link:hover,
#menu-b .dropdown-item:hover,
#menu-b .link:focus,
#menu-b .dropdown-item:focus {
  color: #e99a25;
}
#menu-b .link[aria-expanded="true"],
#menu-b .dropdown-menu {
  background: #0e0e0e;
}
#menu-b .nav-dropdown-sm .link:focus,
#menu-b .nav-dropdown-sm .link:hover,
#menu-b .nav-dropdown-sm .dropdown-item:focus,
#menu-b .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-b .navbar,
#menu-b .nav-dropdown-sm,
#menu-b .nav-dropdown-sm .link[aria-expanded="true"],
#menu-b .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-b .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-b .bg-color.transparent.opened .link:hover,
#menu-b .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-b .link[aria-expanded="true"],
#menu-b .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-b .close-icon::before,
#menu-b .close-icon::after {
  background-color: #ffffff;
}

#menu-4 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4 .navbar-caption {
  color: #ffffff;
}
#menu-4 .navbar-toggler {
  color: #ffffff;
}
#menu-4 .link,
#menu-4 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-4 .link {
  font-size: 0.75rem;
}
#menu-4 .dropdown-item,
#menu-4 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-4 .link:hover,
#menu-4 .dropdown-item:hover,
#menu-4 .link:focus,
#menu-4 .dropdown-item:focus {
  color: #e99a25;
}
#menu-4 .link[aria-expanded="true"],
#menu-4 .dropdown-menu {
  background: #0e0e0e;
}
#menu-4 .nav-dropdown-sm .link:focus,
#menu-4 .nav-dropdown-sm .link:hover,
#menu-4 .nav-dropdown-sm .dropdown-item:focus,
#menu-4 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-4 .navbar,
#menu-4 .nav-dropdown-sm,
#menu-4 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-4 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4 .bg-color.transparent.opened .link:hover,
#menu-4 .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-4 .link[aria-expanded="true"],
#menu-4 .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4 .close-icon::before,
#menu-4 .close-icon::after {
  background-color: #ffffff;
}

#menu-v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-v .navbar-caption {
  color: #ffffff;
}
#menu-v .navbar-toggler {
  color: #ffffff;
}
#menu-v .link,
#menu-v .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-v .link {
  font-size: 0.75rem;
}
#menu-v .dropdown-item,
#menu-v .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-v .link:hover,
#menu-v .dropdown-item:hover,
#menu-v .link:focus,
#menu-v .dropdown-item:focus {
  color: #e99a25;
}
#menu-v .link[aria-expanded="true"],
#menu-v .dropdown-menu {
  background: #0e0e0e;
}
#menu-v .nav-dropdown-sm .link:focus,
#menu-v .nav-dropdown-sm .link:hover,
#menu-v .nav-dropdown-sm .dropdown-item:focus,
#menu-v .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-v .navbar,
#menu-v .nav-dropdown-sm,
#menu-v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-v .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-v .bg-color.transparent.opened .link:hover,
#menu-v .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-v .link[aria-expanded="true"],
#menu-v .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-v.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-v .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-v .close-icon::before,
#menu-v .close-icon::after {
  background-color: #ffffff;
}

#menu-z .hide-buttons .nav-btn {
  display: none !important;
}
#menu-z .navbar-caption {
  color: #ffffff;
}
#menu-z .navbar-toggler {
  color: #ffffff;
}
#menu-z .link,
#menu-z .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-z .link {
  font-size: 0.75rem;
}
#menu-z .dropdown-item,
#menu-z .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-z .link:hover,
#menu-z .dropdown-item:hover,
#menu-z .link:focus,
#menu-z .dropdown-item:focus {
  color: #e99a25;
}
#menu-z .link[aria-expanded="true"],
#menu-z .dropdown-menu {
  background: #0e0e0e;
}
#menu-z .nav-dropdown-sm .link:focus,
#menu-z .nav-dropdown-sm .link:hover,
#menu-z .nav-dropdown-sm .dropdown-item:focus,
#menu-z .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-z .navbar,
#menu-z .nav-dropdown-sm,
#menu-z .nav-dropdown-sm .link[aria-expanded="true"],
#menu-z .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-z .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-z .bg-color.transparent.opened .link:hover,
#menu-z .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-z .link[aria-expanded="true"],
#menu-z .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-z.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-z .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-z .close-icon::before,
#menu-z .close-icon::after {
  background-color: #ffffff;
}

#menu-d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-d .navbar-caption {
  color: #ffffff;
}
#menu-d .navbar-toggler {
  color: #ffffff;
}
#menu-d .link,
#menu-d .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-d .link {
  font-size: 0.75rem;
}
#menu-d .dropdown-item,
#menu-d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-d .link:hover,
#menu-d .dropdown-item:hover,
#menu-d .link:focus,
#menu-d .dropdown-item:focus {
  color: #e99a25;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-menu {
  background: #0e0e0e;
}
#menu-d .nav-dropdown-sm .link:focus,
#menu-d .nav-dropdown-sm .link:hover,
#menu-d .nav-dropdown-sm .dropdown-item:focus,
#menu-d .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-d .navbar,
#menu-d .nav-dropdown-sm,
#menu-d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-d .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-d .bg-color.transparent.opened .link:hover,
#menu-d .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-d .close-icon::before,
#menu-d .close-icon::after {
  background-color: #ffffff;
}

#menu-13 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-13 .navbar-caption {
  color: #ffffff;
}
#menu-13 .navbar-toggler {
  color: #ffffff;
}
#menu-13 .link,
#menu-13 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-13 .link {
  font-size: 0.75rem;
}
#menu-13 .dropdown-item,
#menu-13 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-13 .link:hover,
#menu-13 .dropdown-item:hover,
#menu-13 .link:focus,
#menu-13 .dropdown-item:focus {
  color: #e99a25;
}
#menu-13 .link[aria-expanded="true"],
#menu-13 .dropdown-menu {
  background: #0e0e0e;
}
#menu-13 .nav-dropdown-sm .link:focus,
#menu-13 .nav-dropdown-sm .link:hover,
#menu-13 .nav-dropdown-sm .dropdown-item:focus,
#menu-13 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-13 .navbar,
#menu-13 .nav-dropdown-sm,
#menu-13 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-13 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-13 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-13 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-13 .bg-color.transparent.opened .link:hover,
#menu-13 .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-13 .link[aria-expanded="true"],
#menu-13 .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-13.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-13 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-13 .close-icon::before,
#menu-13 .close-icon::after {
  background-color: #ffffff;
}

#menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-16 .navbar-caption {
  color: #ffffff;
}
#menu-16 .navbar-toggler {
  color: #ffffff;
}
#menu-16 .link,
#menu-16 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-16 .link {
  font-size: 0.75rem;
}
#menu-16 .dropdown-item,
#menu-16 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-16 .link:hover,
#menu-16 .dropdown-item:hover,
#menu-16 .link:focus,
#menu-16 .dropdown-item:focus {
  color: #e99a25;
}
#menu-16 .link[aria-expanded="true"],
#menu-16 .dropdown-menu {
  background: #0e0e0e;
}
#menu-16 .nav-dropdown-sm .link:focus,
#menu-16 .nav-dropdown-sm .link:hover,
#menu-16 .nav-dropdown-sm .dropdown-item:focus,
#menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-16 .navbar,
#menu-16 .nav-dropdown-sm,
#menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-16 .bg-color.transparent.opened .link:hover,
#menu-16 .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-16 .link[aria-expanded="true"],
#menu-16 .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-16.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-16 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-16 .close-icon::before,
#menu-16 .close-icon::after {
  background-color: #ffffff;
}
#header3-18 .mbr-section-title,
#header3-18 .mbr-section-subtitle {
  text-align: center;
}
#header3-18 H3 {
  color: #b8312f;
}

#menu-19 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-19 .navbar-caption {
  color: #ffffff;
}
#menu-19 .navbar-toggler {
  color: #ffffff;
}
#menu-19 .link,
#menu-19 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-19 .link {
  font-size: 0.75rem;
}
#menu-19 .dropdown-item,
#menu-19 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-19 .link:hover,
#menu-19 .dropdown-item:hover,
#menu-19 .link:focus,
#menu-19 .dropdown-item:focus {
  color: #e99a25;
}
#menu-19 .link[aria-expanded="true"],
#menu-19 .dropdown-menu {
  background: #0e0e0e;
}
#menu-19 .nav-dropdown-sm .link:focus,
#menu-19 .nav-dropdown-sm .link:hover,
#menu-19 .nav-dropdown-sm .dropdown-item:focus,
#menu-19 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-19 .navbar,
#menu-19 .nav-dropdown-sm,
#menu-19 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-19 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-19 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-19 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-19 .bg-color.transparent.opened .link:hover,
#menu-19 .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-19 .link[aria-expanded="true"],
#menu-19 .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-19.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-19 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-19 .close-icon::before,
#menu-19 .close-icon::after {
  background-color: #ffffff;
}

#header3-1e .mbr-section-title,
#header3-1e .mbr-section-subtitle {
  text-align: center;
}
#msg-box8-1f .mbr-section-title,
#msg-box8-1f p {
  color: #fff;
}
#msg-box8-1f .mbr-section-title {
  color: #d14841;
  font-size: 16px;
}
#menu-1d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1d .navbar-caption {
  color: #ffffff;
}
#menu-1d .navbar-toggler {
  color: #ffffff;
}
#menu-1d .link,
#menu-1d .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-1d .link {
  font-size: 0.75rem;
}
#menu-1d .dropdown-item,
#menu-1d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1d .link:hover,
#menu-1d .dropdown-item:hover,
#menu-1d .link:focus,
#menu-1d .dropdown-item:focus {
  color: #e99a25;
}
#menu-1d .link[aria-expanded="true"],
#menu-1d .dropdown-menu {
  background: #0e0e0e;
}
#menu-1d .nav-dropdown-sm .link:focus,
#menu-1d .nav-dropdown-sm .link:hover,
#menu-1d .nav-dropdown-sm .dropdown-item:focus,
#menu-1d .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1d .navbar,
#menu-1d .nav-dropdown-sm,
#menu-1d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1d .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1d .bg-color.transparent.opened .link:hover,
#menu-1d .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-1d .link[aria-expanded="true"],
#menu-1d .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-1d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1d .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1d .close-icon::before,
#menu-1d .close-icon::after {
  background-color: #ffffff;
}

#menu-1h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1h .navbar-caption {
  color: #ffffff;
}
#menu-1h .navbar-toggler {
  color: #ffffff;
}
#menu-1h .link,
#menu-1h .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-1h .link {
  font-size: 0.75rem;
}
#menu-1h .dropdown-item,
#menu-1h .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1h .link:hover,
#menu-1h .dropdown-item:hover,
#menu-1h .link:focus,
#menu-1h .dropdown-item:focus {
  color: #e99a25;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-menu {
  background: #0e0e0e;
}
#menu-1h .nav-dropdown-sm .link:focus,
#menu-1h .nav-dropdown-sm .link:hover,
#menu-1h .nav-dropdown-sm .dropdown-item:focus,
#menu-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1h .navbar,
#menu-1h .nav-dropdown-sm,
#menu-1h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1h .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1h .bg-color.transparent.opened .link:hover,
#menu-1h .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-1h.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1h .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1h .close-icon::before,
#menu-1h .close-icon::after {
  background-color: #ffffff;
}

#menu-1k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1k .navbar-caption {
  color: #ffffff;
}
#menu-1k .navbar-toggler {
  color: #ffffff;
}
#menu-1k .link,
#menu-1k .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-1k .link {
  font-size: 0.75rem;
}
#menu-1k .dropdown-item,
#menu-1k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1k .link:hover,
#menu-1k .dropdown-item:hover,
#menu-1k .link:focus,
#menu-1k .dropdown-item:focus {
  color: #e99a25;
}
#menu-1k .link[aria-expanded="true"],
#menu-1k .dropdown-menu {
  background: #0e0e0e;
}
#menu-1k .nav-dropdown-sm .link:focus,
#menu-1k .nav-dropdown-sm .link:hover,
#menu-1k .nav-dropdown-sm .dropdown-item:focus,
#menu-1k .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1k .navbar,
#menu-1k .nav-dropdown-sm,
#menu-1k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1k .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1k .bg-color.transparent.opened .link:hover,
#menu-1k .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-1k .link[aria-expanded="true"],
#menu-1k .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-1k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1k .close-icon::before,
#menu-1k .close-icon::after {
  background-color: #ffffff;
}

#menu-1n .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1n .navbar-caption {
  color: #ffffff;
}
#menu-1n .navbar-toggler {
  color: #ffffff;
}
#menu-1n .link,
#menu-1n .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-1n .link {
  font-size: 0.75rem;
}
#menu-1n .dropdown-item,
#menu-1n .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1n .link:hover,
#menu-1n .dropdown-item:hover,
#menu-1n .link:focus,
#menu-1n .dropdown-item:focus {
  color: #e99a25;
}
#menu-1n .link[aria-expanded="true"],
#menu-1n .dropdown-menu {
  background: #0e0e0e;
}
#menu-1n .nav-dropdown-sm .link:focus,
#menu-1n .nav-dropdown-sm .link:hover,
#menu-1n .nav-dropdown-sm .dropdown-item:focus,
#menu-1n .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1n .navbar,
#menu-1n .nav-dropdown-sm,
#menu-1n .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1n .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1n .bg-color.transparent.opened .link:hover,
#menu-1n .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-1n .link[aria-expanded="true"],
#menu-1n .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-1n.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1n .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1n .close-icon::before,
#menu-1n .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-1o .mbr-section-title,
#msg-box8-1o p {
  color: #fff;
}
#msg-box8-1o .mbr-section-title {
  color: #d14841;
  font-size: 16px;
}

#menu-1r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1r .navbar-caption {
  color: #ffffff;
}
#menu-1r .navbar-toggler {
  color: #ffffff;
}
#menu-1r .link,
#menu-1r .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-1r .link {
  font-size: 0.75rem;
}
#menu-1r .dropdown-item,
#menu-1r .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1r .link:hover,
#menu-1r .dropdown-item:hover,
#menu-1r .link:focus,
#menu-1r .dropdown-item:focus {
  color: #e99a25;
}
#menu-1r .link[aria-expanded="true"],
#menu-1r .dropdown-menu {
  background: #0e0e0e;
}
#menu-1r .nav-dropdown-sm .link:focus,
#menu-1r .nav-dropdown-sm .link:hover,
#menu-1r .nav-dropdown-sm .dropdown-item:focus,
#menu-1r .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1r .navbar,
#menu-1r .nav-dropdown-sm,
#menu-1r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1r .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1r .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1r .bg-color.transparent.opened .link:hover,
#menu-1r .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-1r .link[aria-expanded="true"],
#menu-1r .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-1r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1r .close-icon::before,
#menu-1r .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-1s .mbr-section-title,
#msg-box8-1s p {
  color: #fff;
}
#msg-box8-1s .mbr-section-title {
  color: #d14841;
  font-size: 16px;
}

#menu-1u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1u .navbar-caption {
  color: #ffffff;
}
#menu-1u .navbar-toggler {
  color: #ffffff;
}
#menu-1u .link,
#menu-1u .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-1u .link {
  font-size: 0.75rem;
}
#menu-1u .dropdown-item,
#menu-1u .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1u .link:hover,
#menu-1u .dropdown-item:hover,
#menu-1u .link:focus,
#menu-1u .dropdown-item:focus {
  color: #e99a25;
}
#menu-1u .link[aria-expanded="true"],
#menu-1u .dropdown-menu {
  background: #0e0e0e;
}
#menu-1u .nav-dropdown-sm .link:focus,
#menu-1u .nav-dropdown-sm .link:hover,
#menu-1u .nav-dropdown-sm .dropdown-item:focus,
#menu-1u .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1u .navbar,
#menu-1u .nav-dropdown-sm,
#menu-1u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1u .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1u .bg-color.transparent.opened .link:hover,
#menu-1u .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-1u .link[aria-expanded="true"],
#menu-1u .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-1u.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1u .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1u .close-icon::before,
#menu-1u .close-icon::after {
  background-color: #ffffff;
}

#menu-1w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1w .navbar-caption {
  color: #ffffff;
}
#menu-1w .navbar-toggler {
  color: #ffffff;
}
#menu-1w .link,
#menu-1w .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-1w .link {
  font-size: 0.75rem;
}
#menu-1w .dropdown-item,
#menu-1w .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1w .link:hover,
#menu-1w .dropdown-item:hover,
#menu-1w .link:focus,
#menu-1w .dropdown-item:focus {
  color: #e99a25;
}
#menu-1w .link[aria-expanded="true"],
#menu-1w .dropdown-menu {
  background: #0e0e0e;
}
#menu-1w .nav-dropdown-sm .link:focus,
#menu-1w .nav-dropdown-sm .link:hover,
#menu-1w .nav-dropdown-sm .dropdown-item:focus,
#menu-1w .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1w .navbar,
#menu-1w .nav-dropdown-sm,
#menu-1w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1w .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1w .bg-color.transparent.opened .link:hover,
#menu-1w .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-1w .link[aria-expanded="true"],
#menu-1w .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-1w.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1w .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1w .close-icon::before,
#menu-1w .close-icon::after {
  background-color: #ffffff;
}

#menu-1y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1y .navbar-caption {
  color: #ffffff;
}
#menu-1y .navbar-toggler {
  color: #ffffff;
}
#menu-1y .link,
#menu-1y .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-1y .link {
  font-size: 0.75rem;
}
#menu-1y .dropdown-item,
#menu-1y .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1y .link:hover,
#menu-1y .dropdown-item:hover,
#menu-1y .link:focus,
#menu-1y .dropdown-item:focus {
  color: #e99a25;
}
#menu-1y .link[aria-expanded="true"],
#menu-1y .dropdown-menu {
  background: #0e0e0e;
}
#menu-1y .nav-dropdown-sm .link:focus,
#menu-1y .nav-dropdown-sm .link:hover,
#menu-1y .nav-dropdown-sm .dropdown-item:focus,
#menu-1y .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1y .navbar,
#menu-1y .nav-dropdown-sm,
#menu-1y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1y .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1y .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1y .bg-color.transparent.opened .link:hover,
#menu-1y .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-1y .link[aria-expanded="true"],
#menu-1y .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-1y.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1y .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1y .close-icon::before,
#menu-1y .close-icon::after {
  background-color: #ffffff;
}

#menu-24 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-24 .navbar-caption {
  color: #ffffff;
}
#menu-24 .navbar-toggler {
  color: #ffffff;
}
#menu-24 .link,
#menu-24 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-24 .link {
  font-size: 0.75rem;
}
#menu-24 .dropdown-item,
#menu-24 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-24 .link:hover,
#menu-24 .dropdown-item:hover,
#menu-24 .link:focus,
#menu-24 .dropdown-item:focus {
  color: #e99a25;
}
#menu-24 .link[aria-expanded="true"],
#menu-24 .dropdown-menu {
  background: #0e0e0e;
}
#menu-24 .nav-dropdown-sm .link:focus,
#menu-24 .nav-dropdown-sm .link:hover,
#menu-24 .nav-dropdown-sm .dropdown-item:focus,
#menu-24 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-24 .navbar,
#menu-24 .nav-dropdown-sm,
#menu-24 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-24 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-24 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-24 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-24 .bg-color.transparent.opened .link:hover,
#menu-24 .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-24 .link[aria-expanded="true"],
#menu-24 .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-24 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-24 .close-icon::before,
#menu-24 .close-icon::after {
  background-color: #ffffff;
}

#menu-2d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2d .navbar-caption {
  color: #ffffff;
}
#menu-2d .navbar-toggler {
  color: #ffffff;
}
#menu-2d .link,
#menu-2d .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-2d .link {
  font-size: 0.75rem;
}
#menu-2d .dropdown-item,
#menu-2d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2d .link:hover,
#menu-2d .dropdown-item:hover,
#menu-2d .link:focus,
#menu-2d .dropdown-item:focus {
  color: #e99a25;
}
#menu-2d .link[aria-expanded="true"],
#menu-2d .dropdown-menu {
  background: #0e0e0e;
}
#menu-2d .nav-dropdown-sm .link:focus,
#menu-2d .nav-dropdown-sm .link:hover,
#menu-2d .nav-dropdown-sm .dropdown-item:focus,
#menu-2d .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2d .navbar,
#menu-2d .nav-dropdown-sm,
#menu-2d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2d .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2d .bg-color.transparent.opened .link:hover,
#menu-2d .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-2d .link[aria-expanded="true"],
#menu-2d .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-2d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2d .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2d .close-icon::before,
#menu-2d .close-icon::after {
  background-color: #ffffff;
}

#menu-2g .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2g .navbar-caption {
  color: #ffffff;
}
#menu-2g .navbar-toggler {
  color: #ffffff;
}
#menu-2g .link,
#menu-2g .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-2g .link {
  font-size: 0.75rem;
}
#menu-2g .dropdown-item,
#menu-2g .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2g .link:hover,
#menu-2g .dropdown-item:hover,
#menu-2g .link:focus,
#menu-2g .dropdown-item:focus {
  color: #e99a25;
}
#menu-2g .link[aria-expanded="true"],
#menu-2g .dropdown-menu {
  background: #0e0e0e;
}
#menu-2g .nav-dropdown-sm .link:focus,
#menu-2g .nav-dropdown-sm .link:hover,
#menu-2g .nav-dropdown-sm .dropdown-item:focus,
#menu-2g .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2g .navbar,
#menu-2g .nav-dropdown-sm,
#menu-2g .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2g .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2g .bg-color.transparent.opened .link:hover,
#menu-2g .bg-color.transparent.opened .link:focus {
  color: #e99a25;
}
#menu-2g .link[aria-expanded="true"],
#menu-2g .dropdown-item[aria-expanded="true"] {
  color: #e99a25!important;
}
#menu-2g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2g .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2g .close-icon::before,
#menu-2g .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-2h .mbr-section-title,
#msg-box8-2h p {
  color: #fff;
}
#msg-box8-2h .mbr-section-title {
  color: #d14841;
  font-size: 16px;
}
