h2#imPgTitle {float: left; }
#imBreadcrumb { float: left; }
@media (min-width: 960px) {
	#imPgTitle { width: 936px; margin-left: 6px; margin-right: 6px; }
	#imBreadcrumb { width: 936px; margin-left: 6px; margin-right: 6px; }
	
}
@media  (max-width: 959px) and (min-width: 720px) {
	#imPgTitle { width: 696px; margin-left: 6px; margin-right: 6px; }
	#imBreadcrumb { width: 696px; margin-left: 6px; margin-right: 6px; }
	
}
@media  (max-width: 719px) and (min-width: 480px) {
	#imPgTitle { width: 456px; margin-left: 6px; margin-right: 6px; }
	#imBreadcrumb { width: 456px; margin-left: 6px; margin-right: 6px; }
	
}
@media  (max-width: 479px) {
	#imPgTitle { width: 100%; margin-left: 0px; margin-right: 0px; }
	#imBreadcrumb { width: 100%; margin-left: 0px; margin-right: 0px; }
	
}
